name: NPM Registry

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org
      - name: Update NPM
        run: npm install -g npm@latest
      - name: CI
        run: npm ci
      - name: Build
        run: npm run build --if-present
      - name: Publish
        working-directory: ./
        run: npm publish --access public
